<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">

	<!-- Essas configurações estão separadas por questões de organização, mas 
		poderiam estar todas num único arquivo xml -->
	<import resource="../database/dataSource.xml" />
	<import resource="../database/hibernate.xml" />

	<!-- Para procurar pelas anotações do spring -->
	<context:component-scan base-package="br.org.am.biblioteca" />

	<!-- Usado para o controle de transação -->
	<tx:annotation-driven transaction-manager="transactionManager"/>
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="dataSource" ref="dataSource" />
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<property name="securityManager" ref="securityManager" />
		<property name="filters">
			<!-- Foram criados filtros customizados para sobrescrever o comportamento 
				padrão do shiro de fazer redirect para uma página de login -->
			<util:map>
				<entry key="customAuthc" value-ref="authenticationFilter" />
				<entry key="customRoles" value-ref="authorizationFilter" />
			</util:map>
		</property>
		<property name="filterChainDefinitions">
			<value>
				/rest/auth/login = customAuthc
				/rest/auth/logout = anon
				/rest/user/** = customAuthc, customRoles[admin]
				/rest/** = customAuthc
			</value>
		</property>
	</bean>

	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<property name="realm" ref="hibernateRealm" />
	</bean>
</beans>