 <nav class="navbar navbar-default" ng-controller="loginController">
 	<div class="container-fluid">
 		<div class="navbar-header">
 			<a class="navbar-brand" href="#/home">Nome do sistema</a>
 		</div>
 		<ul class="nav navbar-nav">
 			<li><a href="#/home">Documento</a></li>
 			<li><a href="#/usuario/list">Usuário</a></li>
 		</ul>
 		<ul class="nav navbar-nav navbar-right">
 			<li>
 				<button type="button" class="btn btn-link" ng-click="logout();">Sair</button>
 			</li>
 		</ul>
 	</div>
 </nav>