<div class="container">
	<div ng-include="'view/header.html'"></div>

	<div class="panel panel-default">
		<div class="panel-heading">Incluir usuário</div>
		<div class="panel-body">
			<form role="form">
				<div class="form-group">
					<label for="text">Nome</label>
					<input type="text" class="form-control" id="codRef">
				</div>

				<div class="form-group">
					<label for="tituloFormal">Email</label>
					<input type="text" class="form-control" id="tituloFormal">
				</div>

				<div class="form-group">
					<label for="tituloAtribuido">Senha</label>
					<input type="text" class="form-control" id="tituloAtribuido">
				</div>

				<div class="form-group">
					<label for="descr">Confirmar senha</label>
					<input type="text" class="form-control" id="tituloAtribuido">
				</div>

				<button type="submit" class="btn btn-primary">Incluir</button>
				<a class="btn btn-danger" href="#/usuario/list">Cancelar</a>
			</form>
		</div>
	</div>
</div>