<div class="container">
	<div ng-include="'view/header.html'"></div>

  <a class="btn btn-default" href="#/usuario/incluir">Incluir usuário</a>

  <div id="resultado">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Email</th>
          <th>Grupo</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="usuario in usuarioList">
          <td>{{usuario.nome}}</td>
          <td>{{usuario.email}}</td>
          <td>{{usuario.grupoSet[0].nome}}</td>
          <td>
            <div class="pull-right">
              <a class="btn btn-warning btn-sm" href="#/usuario/{{usuario.id}}">Editar</a>
              <button class="btn btn-danger btn-sm" ng-click="deleteUsuario(usuario.id)">Apagar</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>